/*Removing all default style*/
html{
  padding: 0;
}
body{
  padding: 0;
  margin: 0;
  font-family: Arial;
  background-color: #f7f7f7;
}
/*
--------------------------------------------------
NAVBAR STYLE
--------------------------------------------------
*/
.header{
  /*Positioning*/
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 16px;

  /*Style*/
  background-color: #313233;
}
.logo{
  /*Positioning*/
  flex-basis: 70%;
  flex-shrink: 100;
}
.logo img{
  /*Positioning*/
  height: 2.6em;
  float: left;
}
.logo h3{
  /*Positioning*/
  float: left;
  margin-top:  0.5em;
  margin-left: 0.12em;
  margin-bottom: 0;

  /*Style*/
  color: white;
}
.navbar{
  /*Positioning*/
  flex-basis: 20%;
  flex-shrink: 1;
  display: flex;
}
.navbar a{
  /*Positioning*/
  flex-basis: 60%;
  padding: 8px 12px;
  margin: 0.3em;

  /*Style*/
  text-align: center;
  text-decoration: none;
  color: white;
}
.navhover a:hover{
  background-color: #404040;
}
/*
--------------------------------------------------
BUTTON STYLE
--------------------------------------------------
*/
.buttonstyle{

}
/*
--------------------------------------------------
DROPDOWN STYLE
--------------------------------------------------
*/
.accountbarplaceholder{
  /*Positioning*/
  flex-basis: 10%;

  /*Style*/
  background-color: inherit;
}
.accountbarplaceholder2{
  flex-basis: 5%;
}
.accountbar{
  /*Positioning*/
  flex-basis: 10%;
  display: flex;
}
.dropbtn {
  /*Positioning*/
  padding: 8px 14px;
  margin: 0.3em;

  /*Style*/
  color: white;
  background-color: #313233;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
.dropdown {
  /*Positioning*/
  flex-basis: 35%;
  margin-right: 1.0em;
}
.dropdown-content {
  /*Positioning*/
  display: none;
  position: absolute;

  /*Style*/
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  /*Positioning*/
  padding: 12px 16px;
  display: block;

  /*Style*/
  text-decoration:none;
  color: black;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  /*Positioning*/
  display: block;
}
.dropdown:hover .dropbtn {
  /*Style*/
  background-color: #404040;
}
/*
--------------------------------------------------
CONTENT STYLE
--------------------------------------------------
*/

.content{
  /*Positioning*/
  margin-top: 4em;
  margin-bottom: 2em;
}

/*
--------------------------------------------------
TOP SECTION STYLE
--------------------------------------------------
*/
.top{
  /*Positioning*/
  height: 3em;
  display: flex;
}
.maintop{
  /*Positioning*/
  flex-basis: 85%;

  /*Style*/
  background-color:#f3f3f3;
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.2em;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}
.maintop p{
  /*Positioning*/
  margin-top: 0.15em;
  margin-left: 0.7em;

  /*Style*/
  font-size: 2em;
}
.maintop form{
  float:right;
}

/*
--------------------------------------------------
MID SECTION STYLE
--------------------------------------------------
*/
.mid{
  /*Positioning*/
  display: flex;
  margin-top: 1em;
}
.main{
  /*Positioning*/
  flex-basis: 55%;
  flex-grow: 100;
  height: 1000px;
}
.pfmain{
  flex-basis: 75%;
}
.post{
  /*Positioning*/
  margin-top: 1em;

  /*Style*/
  background-color:#f3f3f3;
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.2em;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);

}
.postheader{
  /*Positioning*/
  display: flex;
}
.posttitle{
  /*Positioning*/
  flex-basis: 70%;
  margin-left: 0.6em;
  margin-bottom: 0.2em;
  margin-top: 0.5em;

  /*Style*/
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}
.posttext{
  /*Positioning*/
  margin-bottom: 0.5em;
  margin-left: 0.9em;
  margin-right: 0.9em;

  /*Style*/
  font-size: 0.8em;
}
.postuser, .postdate{
  /*Positioning*/
  flex-basis: 15%;
  margin-top: 1.2em;

  /*Style*/
  font-size: 0.8em;
  text-decoration: none;
}
.postuser{
  /*Style*/
  color: #10a3d1;
}
/*
--------------------------------------------------
SIDEBAR STYLE
--------------------------------------------------
*/
.sidebar{
  /*Positioning*/
  flex-basis: 25%;
}
.sidebar-post{
  /*Positioning*/
  margin-top: 1em;

  /*Style*/
  background-color:#f3f3f3;
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.2em;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
}
.sidebar-post-title{
  /*Style*/
  font-size: 1.2em;
  text-align: center;
}
.sidebar-post-text{
  /*Positioning*/
  margin-left: 0.7em;
  margin-right: 0.5em;
  /*Style*/
  font-size: 0.9em;
}
/*
--------------------------------------------------
LOGIN / SIGNUP STYLE
--------------------------------------------------
*/
.login{
  /*Positioning*/
  flex-basis: 50%;

  /*Style*/
  background-color:#f3f3f3;
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.2em;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  text-align: center;
}
.login p{
  /*Positioning*/
  margin-top: ;
  margin-left: 0.7em;

  /*Style*/
  font-size: 1.8em;
}
.loginform input[type=text], .loginform input[type=password]{
  font-size: 1em;
  padding: 12px 16px;
  margin: 8px 0;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 75%;
  margin-bottom: 2em;
}

.loginform input[type=text]:focus, .loginform input[type=password]:focus, .loginform input[type=submit]:hover {
  border: 3px solid #555;
}

.loginform input[type=submit], .signup input[type=submit]{
  width: 50%;
  margin-bottom: 3em;
  padding: 12px 16px;
  background-color: white;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signup{
  /*Positioning*/
  flex-basis: 50%;

  /*Style*/
  background-color:#f3f3f3;
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.2em;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  text-align: center;
}
.signup p{
  /*Positioning*/
  margin-top: 0.25em;
  margin-left: 0.7em;

  /*Style*/
  font-size: 1.8em;
}

.signupform input[type=text], .signup input[type=password], .signup input[type=date], .signup input[type=email]{
  font-size: 1em;
  padding: 8px 12px;
  margin-bottom: 0.4em;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 60%;
}

.signupform input[type=text]:focus, .signup input[type=password]:focus, .signup input[type=date]:focus, .signup input[type=email]:focus{
  border: 3px solid #555;
}

.signupform input[name=firstname], .signupform input[name=lastname]{
  width: 27.4%;
}
/*
-------------------------------------------------
POSTS
-------------------------------------------------
*/
.viewpost{
  /*Positioning*/
  flex-basis: 85%;

  /*Style*/
  background-color:#f3f3f3;
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.2em;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  text-align: left;
}

.viewpost p{
  margin-left: 3em;
  margin-right: 3em;
}

.mainpost{
  font-size: 1.0em;
  text-align: center;
}
.extrainfo{
  font-size: 0.8em;
  text-align: center;
}
.userlink{
  color: #10a3d1;
  text-decoration: none;
}
.commentonpost{
  text-align: center;
}
.standarpostheight{
  min-height: 100px;
}
.commentdate{
  /*Positioning*/
  flex-basis: 15%;
  margin-left: 1.2em;
  margin-top: 3.5em;
  /*Style*/
  font-size: 0.8em;
  text-decoration: none;
}
.commenttext{
  /*Positioning*/
  margin-bottom: 0.5em;
  margin-left: 0.9em;
  margin-right: 0.9em;

  /*Style*/
  font-size: 0.8em;
}
.commentuser{
  /*Positioning*/
  flex-basis: 15%;
  margin-top: 2em;
  margin-left: 1.2em;

  /*Style*/
  font-size: 0.8em;
  text-decoration: none;

  color: #10a3d1;
}
/*
-------------------------------------------------
ERRORS
-------------------------------------------------
*/

.error{
  /*Positioning*/
  margin-top: 1em;

  /*Style*/
  background-color:#f3f3f3;
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.2em;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);

}

.errortitle{
  /*Positioning*/
  flex-basis: 70%;
  margin-left: 0.6em;
  margin-bottom: 0.2em;
  margin-top: 0.5em;

  /*Style*/
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}
.errortext{
  /*Positioning*/
  margin-bottom: 0.5em;
  margin-left: 0.9em;
  margin-right: 0.9em;

  /*Style*/
  font-size: 0.8em;
}

/*
--------------------------------------------------
SPACERS
--------------------------------------------------
*/
.between5{
  flex-basis: 5%;
}
.between6{
  flex-basis: 6%;
}
.between7-5{
  flex-basis: 7.5%;
}
.between12-5{
  flex-basis: 12.5%;
}
.between25{
  flex-basis: 25%;
}
.invisible{
  display: none;
}
