.signup{
  /*Positioning*/
  flex-basis: 50%;

  /*Style*/
  background-color:#f3f3f3;
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.2em;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  text-align: center;
}
.signup p{
  /*Positioning*/
  margin-top: 0.25em;
  margin-left: 0.7em;

  /*Style*/
  font-size: 1.8em;
}
.left{
  float: left;
}
.right{
  float: right;
}
input[type=text], input[type=password], input[type=date], input[type=email]{
  font-size: 1em;
  padding: 12px 16px;
  margin: 8px 0;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=email]:focus{
  border: 3px solid #555;
}
